@font-face {
	font-family: "FontFirst";
    src: url("../fonts/Serif/Playfair_Display/PlayfairDisplay-Bold.ttf");
}
@font-face {
	font-family: "FontFirst2";
    src: url("../fonts/Sans-Serif/droid-sans/DroidSans.ttf");
}
@font-face {
	font-family: "FontFirst3";
    src: url("../fonts/Serif/Playfair_Display/PlayfairDisplay-Regular.ttf");
}