@font-face {
	font-family: "FontFirst";
    src: url("../fonts/Serif/Noto_Serif/NotoSerif-Regular.ttf");
}
@font-face {
	font-family: "FontFirst2";
    src: url("../fonts/Sans-Serif/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}