.padding-20px {
	padding: 20px 0;
}
.padding-15px {
	padding: 15px 0;
}
.padding-10px {
	padding: 10px 0;
}
.padding-5px {
	padding: 5px 0;
}

.padding-bottom-20px {
	padding-bottom: 20px;
}
.padding-bottom-15px {
	padding-bottom: 15px;
}
.padding-bottom-10px {
	padding-bottom: 10px;
}
.padding-bottom-5px {
	padding-bottom: 5px;
}

.padding-desktop-20px {
	padding: 20px 0;
	@media (max-width: $max-width) {
		padding: 0 0;
	}
}
.padding-desktop-15px {
	padding: 15px 0;
	@media (max-width: $max-width) {
		padding: 0 0;
	}
}
.padding-desktop-10px {
	padding: 10px 0;
	@media (max-width: $max-width) {
		padding: 0 0;
	}
}
.padding-desktop-5px {
	padding: 5px 0;
	@media (max-width: $max-width) {
		padding: 0 0;
	}
}