//files
@import "assets";
@import "fonts";
@import "padding";
@import "grid";
@import "column";
@import "button";
@import "field";
@import "image";
@import "frame";
@import "content";
@import "navigator";

//variable
* {
	padding: 0;
	margin: 0;
	border: 0;
    outline: none;
    font-family: $sekunder-font;
}

html {
    background-color: $sek-color;
    &.set-scroll {
        @media (max-width: $max-width) {
            overflow-y: hidden;
        }
    }
}

a {
	text-decoration: none;
}
.col-full {
    @include col_set($col-full);
}
.col-small {
	@include col_set(700px);
}

.bdr-top {
    @include bdr_top();
}
.bdr-bottom {
    @include bdr_bottom();
}

.ctn-main-font {
    line-height: 1.5;
    color: $txt-sek-color;
	&.ctn-big {
		font-size: 54px;
	}
	&.ctn-standar {
		font-size: 44px;
	}
	&.ctn-small {
		font-size: 34px;
	}
	&.ctn-mikro {
		font-size: 24px;
    }
    &.ctn-title {
		font-size: 22pt;
	}
    &.ctn-desc {
        font-size: 16pt;
        @media (max-width: $max-width) {
            font-size: 14pt;
        }
    }
    &.ctn-normal {
		font-size: 14pt;
    }
    &.ctn-date {
        font-size: 12pt;
    }
    &.ctn-main-color {
        color: $txt-min-color;
    }
	&.ctn-upp {
		text-transform: uppercase;
    }
    &.ctn-bold {
        font-weight: 600;
    }
    &.ctn-thin {
        font-weight: 500;
    }
	&.ctn-normal {
		text-transform: normal;
	}
	&.ctn-center {
		text-align: center;
    }
    &.ctn-justify {
        text-align: justify;
    }
    &.ctn-sans-serif {
        font-family: $sekunder-font;
        * {
            font-family: $sekunder-font;
        }
        p {
            font-family: $sekunder-font;
        }
        div {
            font-family: $sekunder-font;
        }
    }
    &.ctn-serif {
        font-family: $primary-font;
        * {
            font-family: $primary-font;
        }
        p {
            font-family: $primary-font;
        }
        div {
            font-family: $primary-font;
        }
    }
    &.hover-underline {
        &:hover {
            text-decoration: underline;
        }
    }
    &.hover-strong {
        &:hover {
            color: $txt-min-color;
        }
    }
    &.ctn-skip-link {
        a {
            color: $txt-min-color;
            font-weight: 600;
            * {
                color: $txt-min-color;
                font-weight: 600;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.mobile {
    @media (max-width: $max-width) {
        display: none;
    }
}

#header {
    position: relative;
    width: 100%;
    height: 60px;
    @media (max-width: $max-width) {
        height: 115px;
    }
    .place {
        position: fixed;
        width: 100%;
        padding: 10px 0;
        background-color: $sek-color;
        z-index: 100;
        cursor: default;
        @include bdr_bottom();
        .menu {
            position: relative;
            @include grid_3x(65px, 300px, 1fr);
            @media (max-width: $max-width) {
                @include grid_2x(70px, 1fr);
            }
            .lef {
                @include column_1();
            }
            .mid {
                @include column_2();
                @media (max-width: $max-width) {
                    @include column_none();
                    position: fixed;
                    top: 60px;
                    left: 0;
                    width: calc(100% - 30px);
                    padding: 7.5px 15px;
                    background-color: #fff;
                    border-bottom: 1px rgba(0,0,0,0.1) solid;
                }
            }
            .rig {
                @include column_3();
                text-align: right;
                @media (max-width: $max-width) {
                    @include column_2();
                }
            }
            #main-search {
                &.hide {
                    @media (max-width: $max-width) {
                        display: none; /*hidden*/
                    }
                }
            }
            .pos {
                .main-search {
                    width: 100%;
                    .field-search {
                        position: relative;
                        width: 100%;
                        height: 45px;
                        border-radius: 45px;
                        background-color: #fff;
                        border: 1px rgba(0,0,0,0.1) solid;
                        overflow: hidden;
                        #btn-search {
                            width: 45px;
                        }
                        #txt-search {
                            float: right;
                            width: calc(100% - 55px);
                            padding-left: 0;
                            padding-right: 10px;
                            box-shadow: 0 0 0 #fff;
                        }
                    }
                }
                .pp {
                    position: relative;
                    vertical-align: top;
                    .pp-head{
                        @include post_center();
                    }
                }
                .logo {
                    position: relative;
                    top: 0;
                    width: 45px;
                    height: 45px;
                    font-size: 34px;
                    font-weight: 900;
                    color: $txt-min-color;
                    font-family: $primary-font;
                    overflow: hidden;
                    img {
                        @include post_top();
                        left: 0;
                        width: 45px;
                    }
                }
                .main-menu {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    ul {
                        li {
                            position: relative;
                            list-style: none;
                            float: left;
                            padding: 0 10px;
                            height: 45px;
                            line-height: 45px;
                            color: $txt-sek-color;
                            font-size: $txt-size-standar;
                            font-weight: 600;
                            text-transform: uppercase;
                            cursor: pointer;
                            &.active {
                                color: $txt-min-color;
                            }
                            &:hover {
                                color: $txt-min-color;
                            }
                        }
                    }
                    &.mobile {
                        @media (max-width: $max-width) {
                            display: none;
                        }
                    }
                }
                .create {
                    margin-left: 10px;
                    width: 150px;
                    &.active {
                        border: 1px $txt-min-color solid;
                        color: &txt-min-color;
                    }
                    @media (max-width: $max-width) {
                        display: none;
                    }
                }
                .btn-circle {
                    color: &txt-sek-color;
                    &.active {
                        background-color: rgba(225,225,225,0.54);
                        color: &txt-min-color;
                    }
                }
            }
        }
    }
}

#body {
    .banner {
        position: relative;
        width: 100%;
        height: 400px;
        margin: 15px 0;
        @include grid_2x(1fr, 400px);
        @media (max-width: $max-width) {
            @include grid_none();
            height: auto;
        }
        .left {
            position: relative;
            width: 100%;
            height: 400px;
            @media (max-width: $max-width) {
                height: auto;
            }
            @include column_1();
            .content {
                @include post_top();
                @media (max-width: $max-width) {
                    @include post_none();
                    padding: 50px 0;
                }
                .ttl-head {
                    line-height: 1.2;
                }
                .other {
                    margin: 10px 0;
                    .btn {
                        margin-right: 10px;
                    }
                }
            }
        }
        .side {
            position: relative;
            @include column_2();
            width: 100%;
            height: 400px;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            @media (max-width: $max-width) {
                display: none;
            }
        }
    }
    .ttl-main-color {
        position: relative;
        padding: 10px 0;
        text-align: left;
        .ctn-up {
            text-transform: uppercase;
            font-weight: 600;
            font-size: $txt-size-small;
            color: $txt-sek-color;
            font-family: $sekunder-font;
            &.bdr-top {
                padding-top: 10px;
                border-top: 2px $txt-sek-color solid;
            }
        }
        .vw-more {
            float: right;
            right: 0;
            font-size: $txt-size-small;
            font-family: $sekunder-font;
            text-transform: uppercase;
        }
    }
    .post {
        display: flex;
	    flex-wrap: wrap;
        .frame-post-list {
            width: 480px;
            margin: 10px;
            @media (max-width: $max-width) {
                width: 100%;
                margin: 10px 0;
            }
            .main {
                .sd-right {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }
}

.other-footer {
    padding-bottom: 30px;
    #footer {
        width: 100%;
        text-align: center;
    }
}
#footer {
    position: relative;
    width: 85%;
    .footer-menu {
        padding: 15px 0;
        cursor: default;
        ul {
            li {
                list-style: none;
                display: inline-block;
                color: $txt-min-color;
                font-weight: 600;
                font-size: 14px;
                padding: 0 2.5px;
                &.icn {
                    position: relative;
                    top: -2.5px;
                    font-size: 5px;
                    color: $txt-sek-color;
                }
            }
        }
    }
    .footer-place {
        padding-top: 20px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 200px 200px;
        color: $txt-min-color;
        @include grid_3x(1fr, 200px, 200px);
        @media (max-width: $max-width) {
            @include grid_none();
            marging-top: 15px;
        }
        .fo-lef {
            @include column_1();
            p {
                font-size: $txt-size-small;
                line-height: 1.5;
                margin-bottom: 10px;
            }
            .cl {
                position: relative;
                font-size: $txt-size-small;
                margin-bottom: 10px;
            }
            img {
                width: 150px;
            }
        }
        .fo-mid {
            @include column_2();
            ul {
                li {
                    list-style: none;
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    color: $txt-min-color;;
                    border-radius: 100%;
                    margin: 5px;
                    &:hover {
                        background-color: $txt-min-color;
                        color: $sek-color;
                    }
                }
            }
        }
        .fo-rig {
            @include column_3();
            ul {
                margin-left: 20px;
                a {
                    text-decoration: none;
                }
                li {
                    color: $txt-min-color;;
                    font-weight: 900;
                    line-height: 1.5;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}