#header {
	position: relative;
	width: 100%;
	height: 70px;
}
#header .place {
	position: fixed;
	width: 100%;
	padding: 15px 0;
	background-color: #fff;
	border-bottom: 1px #ededed solid;
	z-index: 100;
	cursor: default;
}
#header .place .menu {
	position: relative;

	display: grid;
	grid-template-columns: 38px 320px 1fr;
	grid-gap: 15px;
}
#header .place .menu .lef {
	grid-column: 1;
}
#header .place .menu .mid {
	grid-column: 2;
}
#header .place .menu .rig {
	grid-column: 3;
	text-align: right;
}
#header .place .menu .pos .main-search {
	width: 350px;
	display: inline-block;
}
#header .place .menu .pos .main-search .txt {
	width: 90%;
	padding: 0 5%;
}
#header .place .menu .pos {
	width: 100%;
}
#header .place .menu .pos .pp {
	position: relative;
	vertical-align: top;
}
#header .place .menu .pos .pp-head {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#header .place .menu .pos a {
	text-decoration: none;
}
#header .place .menu .pos .logo {
	position: relative;
	top: -5px;
	width: 40px;
	height: 40px;

	font-size: 40px;
	text-align: center;
	color: rgba(0,0,0,0.84);
	font-weight: 900;
	font-family: Georgia, Times, "Times New Roman", serif;

}
#header .place .menu .pos .logo img {
	position: relative;
	top: 0px;
	left: 0;
	width: 90%;
	margin: 5%;
	
}
#header .place .menu .pos .main-menu {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
#header .place .menu .pos ul li {
	position: relative;
	list-style: none;
	float: left;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	color: rgba(0,0,0,0.54);
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
}

#header .place .menu .pos .active {
	color: rgba(0,0,0,0.84);
}
#header .place .menu .pos ul li.active {
	background-color: rgba(0,0,0,0);
	color: rgba(0,0,0,0.84);
}
#header .place .menu .pos ul li:hover {
	color: rgba(0,0,0,0.84);
}
#header .place .menu .pos .create {
	margin-left: 10px;
	padding: 0 0;
	width: 150px;
}
#header .place .menu .pos .btn-circle.active {
	background-color: rgba(225,225,225,0.54);
	color: rgba(0,0,0,0.84);
}
#header .place .menu .pos .create.active {
	border: 1px rgba(0,0,0,0.84) solid;
	color: rgba(0,0,0,0.84);
}

.sc-header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
}
.sc-header .sc-place {
	width: 100%;
	height: 45px;
	padding: 7.5px 0;
	background-color: #fff;
}
.sc-header .sc-place.relative {
	position: relative;
}
.sc-header .sc-place.pos-fix {
	position: fixed;
	top: 70px;
	z-index: 50;
}
.sc-header .sc-place .txt-right {
	text-align: right;
}
.sc-header .sc-place .txt-right .close {
	position: relative;
	top: 5px;
	right: 10px;
}
.sc-header .sc-place .txt-right .rotate {
	transform: rotate(-50deg);
}
.sc-header .sc-place .sc-grid {
	display: grid;
}
.sc-header .sc-place .sc-grid-3x {
	grid-template-columns: 1fr 1fr 1fr;
}
.sc-header .sc-place .sc-grid-1x {
	grid-template-columns: 1fr;
}
.sc-header .sc-place .sc-grid .sc-col-2 {
	text-align: center;
}
.sc-header .sc-place .sc-grid .sc-col-2 .ttl-head {
	line-height: 45px;
	font-size: 22px;
}
.sc-header .sc-place .sc-grid .sc-col-2 .ttl-head-2 {
	line-height: 45px;
	font-size: 32px;
}

#more-menu {
	display: none;
}
.more-menu {
	position: absolute;
	top: 45px;
	right: 0;
	width: 200px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px rgba(0,0,0,0.1) solid;
	z-index: 100;
}
.more-menu ul li {
	width: calc(100% - 30px);
	padding: 10px 15px;
	display: block;
}
.more-menu ul li.icn-mobile {
	text-align: left;
	color: rgba(0,0,0,0.54);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}
.more-menu ul li:hover {
	color: rgba(0,0,0,0.84);
}
.more-menu ul li.active {
	color: rgba(0,0,0,0.84);
}

#footer {
	border-top: 1px #ededed solid;
}
#footer .footer-place {
	padding-top: 20px;
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: 1fr 200px 200px;
	color: rgba(0,0,0,0.84);
}
#footer .footer-place h3 {
	margin-bottom: 10px;
}
#footer .footer-place .fo-lef {
	grid-column: 1;
}
#footer .footer-place .fo-mid {
	grid-column: 2;
}
#footer .footer-place .fo-rig {
	grid-column: 3;
}
#footer .footer-place .fo-lef p {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 10px;
}
#footer .footer-place .fo-lef .cl {
	position: relative;
	margin-bottom: 10px;
	font-size: 14px;
}
#footer .footer-place .fo-lef img {
	width: 150px;
}
#footer .footer-place .fo-mid ul li {
	list-style: none;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: rgba(0,0,0,0.84);;
	border-radius: 100%;
	margin: 5px;
}
#footer .footer-place .fo-mid ul li:hover {
	background-color: rgba(0,0,0,0.84);
	color: #fff;
}
#footer .footer-place .fo-rig ul {
	margin-left: 20px;
}
#footer .footer-place .fo-rig ul a {
	text-decoration: none;
}
#footer .footer-place .fo-rig ul li {
	color: rgba(0,0,0,0.84);;
	font-weight: 900;
	line-height: 1.5;
}
#footer .footer-place .fo-rig ul li:hover {
	color: rgba(0,0,0,0.84);
}

/*content popup*/
.content-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	background-color: rgba(0,0,0,0.5);
	display: none;
}
.content-popup .place-popup {
	position: relative;
	top: 30%;
	width: 300px;
	background-color: #fff;
	margin: auto;
	border-radius: 5px;
}
.content-popup .place-popup ul li {
	list-style: none;
	text-align: center;
	padding: 15px 0;
	font-size: 14px;
	cursor: pointer;
	color: rgba(0,0,0,0.54);
}
.content-popup .place-popup ul li:hover {
	color: rgba(0,0,0,0.84);
}
.content-popup .place-popup ul li.btm {
	border-top: 1px #ededed solid;
	color: rgba(0,0,0,0.84);
}
.content-popup .question-popup {
	color: rgba(0,0,0,0.84);
}
.content-popup .question-popup .pos {
	padding: 15px 2.5%;
	text-align: center;
}
.content-popup .question-popup .top {
	border-bottom: 1px #ededed solid;
	font-weight: 900;
}
.content-popup .question-popup .mid {
	border-bottom: 1px #ededed solid;
}
.content-popup .question-popup .bot .btn {
	margin: 0 5px;
	padding: 0 0;
}

@media only screen and (max-width: 768px) {
	#header {
		height: 100px;
	}
	#header .place {
		position: fixed;
		padding: 7.5px 0;
	}
	#header .place .menu {
		width: calc(100% - 20px);
		margin: auto;
		grid-template-columns: 50px 1fr;

		display: -ms-grid;
		-ms-grid-columns: 50px 1fr;
	}
	#header .place .menu .lef {
		grid-column: 1;
		-ms-grid-column: 1;
	}
	#header .place .menu .mid {
		position: fixed;
		width: 100%;
		top: 50px;
		background-color: #fff;
		padding: 7.5px 0;
		border-bottom: 1px rgba(0,0,0,0.1) solid;
		left: 0;
	}
	#header .place .menu .mid.hide {
		display: none;
	}
	#header .place .menu .rig {
		grid-column: 2;
		-ms-grid-column: 2;
	}
	#header .place .menu .pos ul li.icn-mobile {
		display: block;

	}
	#header .place .menu .rig #main-menu {
		display: none;
	}
	#header .place .menu .pos .main-search {
		position: relative;
		width: 95%;
		left: 2.5%;
		margin: auto;
	}
	#header .place .menu .pos .create {
		width: 40px;
		display: none;
	}
	#header .place .menu .pos .create .ttl-post {
		display: none;
	}

	.more-menu {
		position: fixed;
		top: 50px;
		right: 0;
		width: calc(100% - 20px);
		margin: 0 10px;
	}
	.sc-header .sc-place.pos-fix {
		position: relative;
		top: 0;
		z-index: 0;
		border-bottom: 1px rgba(0,0,0,0.1) solid;
	}

	#footer .footer-place {
		width: 95%;
		padding: 15px 2.5%;
		display: block;
	}
	#footer .footer-place .fo-pos {
		position: relative;
		width: 100%;
	}
}